asgiref==3.8.1
Django==5.2.3
odict==1.9.0
optional-django==0.1.0
plumber==1.7
setuptools==80.9.0
sqlparse==0.5.3
tailwindcss==0.0.1
tzdata==2025.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.1
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
whitenoise
