{% extends 'index.html' %}

{% block page_title %}
  Password Reset
{% endblock %}

{% block content %}
  <div class="flex items-center justify-center h-32 mb-4">
    <label class="text-gray-700 text-xl font-semibold">Password reset sent</label>
  </div>
  <div class="flex items-center justify-center h-32">
    <label class="text-gray-700 text-xl font-semibold">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</label>
  </div>
  <div class="flex items-center justify-center h-32">
    <label class="text-gray-700 text-xl font-semibold">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</label>
  </div>
{% endblock %}
