{% extends 'index.html' %}

{% block page_title %}
  Password reset complete
{% endblock %}

{% block content %}
  <div class="flex items-center justify-center h-32 mb-4">
    <label class="text-gray-700 text-xl font-semibold">Password reset complete</label>
  </div>
  <div class="flex items-center justify-center h-32">
    <label class="text-gray-700 text-xl font-semibold">Your password has been set. You may go ahead and log in now.</label>
  </div>
  <div class="flex items-center justify-center h-32">
    <a href="{% url 'login_url' %}" class="btn btn-primary mt-4">Log in</a>
  </div>
{% endblock %}
