<div class="flex flex-col gap-3">
    <label class="label cursor-pointer justify-start gap-3">
        <input type="hidden" name="min_players_check_enabled_submitted" value="1">
        <input type="checkbox" name="min_players_check_enabled" class="checkbox"
               {% if game.min_players_check.enabled %}checked{% endif %}>
        <span class="label-text font-semibold text-base-content/90">
            Auto-cancel if too few players confirmed
        </span>
    </label>
    <div class="flex items-center gap-3">
        <span class="label-text">Check at</span>
        <input type="datetime-local" name="min_players_check_send_at"
               value="{{ game.min_players_check.send_at|date:'Y-m-d\TH:i' }}"
               class="input input-bordered">
    </div>
    <div class="flex items-center gap-3">
        <span class="label-text">Minimum players</span>
        <input type="number" name="minimum_players" min="1"
               value="{{ game.minimum_players }}"
               class="input input-bordered w-24">
    </div>
</div>
