{% load player_extras %}
<div class="card shadow-lg mb-8 p-4" id="players-table">
    <div class="overflow-x-auto">
        <table class="table w-full">
            <thead>
            <tr>
                <th class="px-1 text-center font-semibold text-base-content/70 uppercase tracking-wide">Player</th>
                <th class="px-1 text-center font-semibold text-base-content/70 uppercase tracking-wide">Player
                    role
                </th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr class="hover">
                    <td class="px-1 text-center py-3">
                        <a href="{% url 'player_details_url' player_id=player.id %}"
                           class="link link-info font-medium">
                            {{ player|get_display_name }}
                        </a>
                    </td>
                    <td class="px-1 text-center py-3">{{ player.role }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
