<div class="flex flex-col gap-3">
    <label class="label cursor-pointer justify-start gap-3">
        <input type="hidden" name="reminder_enabled_submitted" value="1">
        <input type="checkbox" name="reminder_enabled" class="checkbox"
               {% if game.weekly_reminder.enabled %}checked{% endif %}>
        <span class="label-text font-semibold text-base-content/90">
            {% if game.status == 'Cancelled' %}
                Send "game cancelled" notice to planned players
            {% else %}
                Send "who can't play" reminder to planned players
            {% endif %}
        </span>
    </label>
    <div class="flex items-center gap-3">
        <span class="label-text">Sent at</span>
        <input type="datetime-local" name="reminder_send_at"
               value="{{ game.weekly_reminder.send_at|date:'Y-m-d\TH:i' }}"
               class="input input-bordered">
    </div>
</div>
