{% extends 'index.html' %}

{% block page_title %}
    Players
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4 gap-6 mb-8 mr-10">
    <a href="{% url 'all_players_url' %}" style="text-decoration: none;">
        <div class="card shadow-xl bg-players-purple cursor-pointer">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.total_players }}</div>
                <p class="text-sm">Total players</p>
            </div>
        </div>
    </a>
            <a href="{% url 'all_players_url' %}?status=permanent" style="text-decoration: none;">

        <div class="card shadow-xl bg-players-green cursor-pointer">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.permanent_players }}</div>
                <p class="text-sm">Permanent players</p>
            </div>
        </div>
            </a>
                <a href="{% url 'all_players_url' %}?status=active" style="text-decoration: none">

        <div class="card shadow-xl bg-players-blue cursor-pointer">
            <div class="card-body">
                <div class="text-xl font-semibold">{{ details.active_players }}</div>
                <p class="text-sm">Active players</p>
            </div>
        </div>
        <a href="{% url 'all_players_url' %}?status=inactive" style="text-decoration: none">
            <div class="card shadow-xl bg-players-red cursor-pointer">
                <div class="card-body">
                    <div class="text-xl font-semibold">{{ details.inactive_players }}</div>
                    <p class="text-sm">Inactive players</p>
                </div>
            </div>
            </a>
    </div>
    <div class="card shadow-lg mb-8 p-4">
        <form class="flex gap-2" method="GET" action="{% url 'all_players_url' %}">
            <button type="submit" name="permanent" value="1" class="btn btn-outline">
                Permanent
            </button>

            {% if request.GET.permanent %}
                <a href="{% url 'all_players_url' %}" class="btn btn-outline">Back to all players</a>
            {% endif %}
        </form>
    </div>
    <form class="flex gap-2">
        <label class="input">
            Name
            <input {% if filter %} value="{{ filter }}" {% endif %} name="name" type="text" class="grow"
                                   placeholder="Search by name...">
            <span class="badge badge-neutral badge-xs">Optional</span>
        </label>
        <button type="submit" class="btn btn-outline">Search</button>
        {% if filter %}
            <a href="{% url 'all_players_url' %}" class="btn btn-outline">Clear filter</a>
        {% endif %}
    </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Player</th>
            <th>Player role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                {% if player.user.username != 'N/A' %}
                    <td>{{ player.user.username }}</td>
                {% else %}
                    <td>{{ player.name }} {{ player.surname }}</td>
                {% endif %}
                <td>{{ player.role }}</td>
                <td><a href="{% url 'player_details_url' player_id=player.id %}" class="btn btn-outline">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}

