{% extends 'index.html' %}

{% block page_title %}
    Booking History
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Game date</th>
            <th>Status for Game</th>
            <th>Player</th>
            <th>Status for Player</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% for record in booking_history %}
            <tr>
                <td>{{ record.game.when }}</td>
                <td>{{ record.game.status }}</td>
                <td>{{ record.player.user.username }}</td>
                <td>{{ record.player_status.player_status }}</td>
                <td>{{ record.creation_date|date:'d M Y, H:i:s' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}

