{% extends 'index.html' %}

{% block page_title %}
    Next games
{% endblock %}

{% block content %}
    <form method="post">
        <table class="table">
            <thead>
            <tr>
                <th class="px-2">Week</th>
                <th class="px-2">Date</th>
                <th class="px-2">Status</th>
                <th class="px-2">Actions</th>
                {% if user.is_authenticated and user.is_superuser %}
                    <th class="px-2">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td class="px-2">{{ game.when|date:'W' }}</td>
                    <td class="px-2">{{ game.when|date:'d M Y' }}</td>
                    <td class="px-2">{{ game.status }}</td>
                    <td class="px-2">
                        <a href="{% url 'game_details_url' game_id=game.id %}" class="btn btn-outline btn-sm px-2 py-1">
                            Details
                        </a>
                    </td>

                    {% if user.is_authenticated and user.is_superuser %}
                        <td class="px-2">
                            <a href="{% url 'game_remove_url' game_id=game.id %}"
                               class="btn btn-error btn-outline btn-sm px-2 ml-1">
                                Remove
                            </a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>
{% endblock content %}

