{% extends 'index.html' %}

{% block page_title %}
    Past games
{% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th class="px-1 text-center">Date</th>
        <th class="px-1 text-center">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
            <td class="px-1 text-center"><a href="{% url 'game_details_url' game_id=game.id %}">{{ game.when|date:'d M Y' }}</a></td>
            <td class="px-1 text-center">{{ game.status }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="2" class="px-1 text-center py-4 text-gray-500">No games found</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if games.has_other_pages %}
<div class="flex justify-center items-center space-x-2 mt-6">
    {% if games.has_previous %}
    <a href="?games_page=1" class="btn btn-sm btn-outline btn-secondary">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
        First
    </a>
    {% endif %}

    {% if games.has_previous %}
    <a href="?games_page={{ games.previous_page_number }}" class="btn btn-sm btn-outline btn-secondary">
        <svg class="w-4 h-4 -ml-1 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        Prev.
    </a>
    {% endif %}

    <div class="flex space-x-1">
        {% for num in games.paginator.page_range %}
            {% if games.number == num %}
                <span class="btn btn-sm btn-primary no-animation">{{ num }}</span>
            {% elif num > games.number|add:'-2' and num < games.number|add:'2' %}
                <a href="?games_page={{ num }}" class="btn btn-sm btn-outline btn-secondary">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% if games.has_next %}
    <a href="?games_page={{ games.next_page_number }}" class="btn btn-sm btn-outline btn-secondary">
        Next
        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </a>
    {% endif %}

    {% if games.has_next %}
    <a href="?games_page={{ games.paginator.num_pages }}" class="btn btn-sm btn-outline btn-secondary">
        Last
        <svg class="w-4 h-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7m0 0l-7 7m7-7H6"></path>
        </svg>
    </a>
    {% endif %}
</div>

<p class="text-sm text-gray-500 text-center mt-2 mb-8">
    Page {{ games.number }} of {{ games.paginator.num_pages }} 
    ({{ games.paginator.count }} games)
</p>
{% endif %}

{% endblock content %}

