{% extends 'index.html' %}

{% block page_title %}
    Past games
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{% url 'game_details_url' game_id=game.id %}">{{ game.when|date:'d M Y' }}</a></td>
                <td>{{ game.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock content %}

