{% extends 'index.html' %}

{% block page_title %}
    Player Details
    {{ game.when }}
{% endblock %}

{% block content %}
    <div class="card card-border bg-base-100 w-full">
        <div class="card-body">
                <p class="bold">Nickname: {{ player.nickname }}</p>
                <p class="bold">Name: {{ player.name }}</p>
                <p class="bold">Surname: {{ player.surname }}</p>
                <p class="bold">Email: {{ player.email }}</p>
                <p class="bold">Mobile number: {{ player.mobile_number }}</p>
                <p class="bold">Player role: {{ player.role }}</p>
            </div>
        </div>
{% endblock %}