{% extends 'index.html' %}

{% block page_title %}
    Player Details
    {{ game.when }}
{% endblock %}

{% block content %}
    <div class="card card-border bg-base-100 w-full">
        <table class="table w-full max-w-md border border-neutral shadow-md bg-base-100 text-base-content">
            <thead>
            <tr class="border-b border-neutral">
                <th colspan="2" class="text-lg font-semibold text-center">Player profile</th>
            </tr>
            </thead>
            <tbody>
            {% if player.user.username and player.user.username != 'N/A' %}
                <tr class="border-b border-neutral">
                    <td class="font-semibold py-2 px-4">Username</td>
                    <td class="py-2 px-4">{{ player.user.username }}</td>
                </tr>
            {% endif %}
            <tr class="border-b border-neutral">
                <td class="font-semibold py-2 px-4">Name</td>
                <td class="py-2 px-4">{{ player.first_name }}</td>
            </tr>
            <tr class="border-b border-neutral">
                <td class="font-semibold py-2 px-4">Surname</td>
                <td class="py-2 px-4">{{ player.user.last_name }}</td>
            </tr>
            <tr class="border-b border-neutral">
                <td class="font-semibold py-2 px-4">Email</td>
                <td class="py-2 px-4">{{ player.email }}</td>
            </tr>
            <tr class="border-b border-neutral">
                <td class="font-semibold py-2 px-4">Mobile number</td>
                <td class="py-2 px-4">{{ player.mobile_number }}</td>
            </tr>
            <tr>
                <td class="font-semibold py-2 px-4">Player role</td>
                <td class="py-2 px-4">{{ player.role }}</td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}