{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Games{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    <script type="module" src="https://unpkg.com/cally"></script>
</head>
<body class="dark text-gray-100">

<div class="flex items-center justify-between p-4 bg-base-100 shadow-sm lg:hidden">
  <div class="flex-none">
    <input type="checkbox" id="mobile-menu-toggle" class="hidden" />
    <label for="mobile-menu-toggle" class="btn btn-square btn-ghost" aria-controls="mobile-menu" aria-expanded="false" role="button" tabindex="0">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="inline-block w-6 h-6 stroke-gray-900 dark:stroke-gray-100"
           fill="none" viewBox="0 0 24 24" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </label>
      <a href="{% url 'next_games_url' %}" class="flex-shrink-0">
    <div class="avatar w-16">
      <img class="object-contain w-full h-auto" src="{% static 'img/logo_FutsalApp.png' %}" alt="Futsal Logo" />
    </div>
  </a>
  </div>

  <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-15 rounded-full">
          <img alt="logo" src="{% static 'img/logo.jpeg' %}" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>{{ user.get_username }}</li>
        {% if not user.is_authenticated %}
          <li><a href="{% url 'login_url' %}"><button>Log in</button></a></li>
        {% endif %}
        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'logout_url' %}">
              {% csrf_token %}
              <button>Log out</button>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
</div>

<div id="mobile-menu" class="hidden bg-base-100 p-4 lg:hidden">
  <a href="{% url 'next_games_url' %}" class="block py-2 border-b">Next games</a>
  {% if user.is_authenticated %}
    <a href="{% url 'all_players_url' %}" class="block py-2 border-b">Players</a>
  {% endif %}
  <a href="{% url 'past_games_url' %}" class="block py-2 border-b">Past games</a>
  {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'booking_history_url' %}" class="block py-2 border-b">Booking history</a>
    <a href="{% url 'add_game_url' %}" class="block py-2 border-b">Add game</a>
    <a href="{% url 'add_player_url' %}" class="block py-2 border-b">Add player</a>
  {% endif %}
</div>

<div class="navbar bg-base-100 shadow-sm p-4 mb-4 hidden lg:flex">
  <div class="flex-1">
    <a class="mx-2" href="{% url 'next_games_url' %}">
      <div class="avatar w-24">
        <img src="{% static 'img/logo_FutsalApp.png' %}" alt="Avatar" />
      </div>
    </a>
    <a href="{% url 'next_games_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'next_games_url' %}btn-active border-accent-content{% endif %}">Next games</a>
    {% if user.is_authenticated %}
      <a href="{% url 'all_players_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'all_players_url' %}btn-active border-accent-content{% endif %}">Players</a>
    {% endif %}
    <a href="{% url 'past_games_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'past_games_url' %}btn-active border-accent-content{% endif %}">Past games</a>
    {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'booking_history_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'booking_history_url' %}btn-active border-accent-content{% endif %}">Booking history</a>
    {% endif %}
  </div>
  <div class="flex gap-2 ml-auto">
    {% if user.is_authenticated and user.is_superuser %}
      <a href="{% url 'add_game_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'add_game_url' %}btn-active border-accent-content{% endif %}">Add game</a>
      <a href="{% url 'add_player_url' %}" class="btn btn-ghost text-xl {% if request.resolver_match.url_name == 'add_player_url' %}btn-active border-accent-content{% endif %}">Add player</a>
    {% endif %}
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-15 rounded-full">
          <img alt="logo" src="{% static 'img/logo.jpeg' %}" />
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>{{ user.get_username }}</li>
        {% if not user.is_authenticated %}
          <li><a href="{% url 'login_url' %}"><button>Log in</button></a></li>
        {% endif %}
        {% if user.is_authenticated %}
          <li>
            <form method="post" action="{% url 'logout_url' %}">
              {% csrf_token %}
              <button>Log out</button>
            </form>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% if breadcrumbs %}
  <div class="breadcrumbs text-sm px-10">
    <ul>
      {% for b in breadcrumbs %}
        <li><a href="{{ b.path }}">{{ b.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="mx-auto px-2 my-12">
  {% block content %}
  {% endblock %}
</div>

<footer class="text-xs text-right p-2">Futsal App v0.0.1</footer>

<script>
  document.getElementById('mobile-menu-toggle').addEventListener('change', function () {
    const menu = document.getElementById('mobile-menu');
    if (this.checked) {
      menu.classList.remove('hidden');
    } else {
      menu.classList.add('hidden');
    }
  });
</script>
</body>
</html>
