<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The player status has changes</title>
</head>
<body>
    <h3>he player status has changes</h3>
    <p>Hello Admin,</p>

    <p>The change datails:<br>
    - Date: {{ game.when|date:"l, F j, Y" }}</p>

    <ul>
    {% for description in change_descriptions %}
        <li>{{ description }}.</li>
    {% endfor %}
    </ul>

    <p>Current number of players for this game: {{ no_players }}.</p>

    <p>Regards,<br>
    Futsal App Team</p>
</body>
</html>

